/* aspect ration for standard 8.5 by 11 */


p, h1, h2, h3, h4, h5, h6, a {
    font-family: Times New Roman;
}
.embed-responsive-17by22 {
    padding-bottom: 129.41%;
}

.fulloutline {
    height: 350px;
    width: 850px;
}

.headshot {
    float: left;
    border: 5px;
    padding: 10px;
}

.jobs {
    line-height: 30px;
    height: 300px;
    width: 200px;
    float: left;
    padding: 10px;
}

.description {
    line-height: 30px;
    height: 300px;
    width: 300px;
    float: left;
    padding: 10px;
}

.logo {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
