/* aspect ration for standard 8.5 by 11 */


p, h1, h2, h3, h4, h5, h6, a {
    font-family: Times New Roman;
}
.embed-responsive-17by22 {
    padding-bottom: 129.41%;
}

.fulloutline {
    height: 350px;
    width: 850px;
}

.headshot {
    float: left;
    border: 5px;
    padding: 10px;
}

.jobs {
    line-height: 30px;
    height: 300px;
    width: 200px;
    float: left;
    padding: 10px;
}

.description {
    line-height: 30px;
    height: 300px;
    width: 300px;
    float: left;
    padding: 10px;
}

.logo {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.article-row {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    margin-bottom: 5px;
    padding-top: 5px;
}

.article-img {
    padding-right: 10px;
    width: 100px;
}

.article-title {
    padding-left: 25px;
}

.article-preview {
    padding-left: 25px;
}

.tag-line {
    font-size: 12px;
}

.pt10 {
    padding-top: 10px;
}

.pb10 {
    padding-bottom: 10px;
}

.article-row h3, .article-row p {
    margin-left: 50px;
}
